AppKit==0.2.8
attrs==21.2.0
Brotli==1.0.9
charset_normalizer==3.2.0
ConfigParser==7.0.0
cryptography==3.4.8
Cython==3.0.10
defusedxml==0.7.1
dl==0.1.0
docutils==0.20.1
HTMLParser==0.0.2
hypothesis==6.102.4
importlib_metadata==6.8.0
importlib_metadata==4.6.4
ipython==8.24.0
ipywidgets==8.1.2
Jinja2==3.1.2
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
matplotlib==3.8.1
matplotlib==3.8.2
matplotlib==3.5.1
mtrand==0.1
mypy==1.10.0
numarray==1.5.1
Numeric==24.2
olefile==0.46
ordereddict==1.1
pickle5==0.0.12
protobuf==3.20.3
protobuf==3.12.4
psutil==5.9.8
pyinstaller==6.3.0
PyOpenGL==3.1.7
PyOpenGL==3.1.5
PyOpenGL==3.1.7
pyOpenSSL==24.1.0
PyQt6==6.7.0
PyQt6_sip==13.5.1
PySide6==6.7.0
pytest==7.4.2
pytz==2022.1
PyYAML==5.4.1
PyYAML==6.0.1
Quartz==0.0.1.dev0
railroad==0.5.0
skimage==0.0
Sphinx==7.3.7
thread==2.0.1
threadpoolctl==3.5.0
toml==0.10.2
tornado==6.4
Universe==0.21.3
xmlrpclib==1.0.1
zipp==1.0.0
